*
{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 0%;
}

/* Menu */

header {
    padding: 8px 0;
    height: 90px;
    background-color: green;
}

.logo {
    float: left;
    
}

.logo img{
    height: 70px
}


.header-nav {
    padding: 8px 0;
    height: 50px;
    background-color:rgb(13, 173, 13);
    margin-bottom: 0;
}

.menu-desk {
    float: right;
}

.menu-desk ul{
    position: relative;
    margin-top: 5px;
    float: right;
    padding-right: 500px;
    height: 10px;

}

.menu-desk a{
    color: rgb(252, 253, 252);
    text-decoration: none;
}

.menu-desk li{
    padding: 0px 25px;
    font-weight: lighter;
    font-size: 25px;
    display: inline-block
}

.menu-desk li.selected{
    font-weight: bold;
    text-decoration: overline;

}

.menu-desk a:hover {
    text-decoration: underline;
}

/* Carrossel */

.galery {
    width: 100%;
    height: 600px;
    overflow: hidden;
  }
  
  .galery .fotos {
    width: 500%;
    animation-name: anime;
    animation-duration: 20s;
    animation-iteration-count: infinite;
  }
  
  .galery .fotos img {
    width: 19.9%;
  }
  

/* Corpo */

.corpo {
    padding: 1000px 0px;
    background-color: limegreen;
}

/* Rodapé */

.w33 {
    width: 33.3%;
    float: left;
}

.footer1 {
    background: green;
    padding: 20px 0px;
    color: black;

    
}

.footer h2 {
    font-weight: normal;
    font-size: 24px;
}

.footer1 a {
    display: block;
    color: black;
    margin-top: 10px;
}

.group-icons a {
    display: inline-block;
    margin: 10px 10px;
}

.footer2 {
    padding: 10px 0px;
    background: rgb(13, 173, 13);
    text-align: center;
    color: white;
}